<div class="sidebar-module sidebar-module-inset p-0" style="overflow:hidden;">
    <div style="display:block;position:relative;">
        <div style="display:block;width:100%;padding-top:12.5%;"></div>
        <div class="rpad rounded border" data-unit="8x1"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;"><a
                href="https://srv.realpython.net/click/59335905319/?c=32419346518&amp;p=58946116052&amp;r=56859"
                rel="nofollow" target="_blank"><img
                    style="max-width: 100%; max-height: 100%; width: 100%;"
                    src="https://img.realpython.net/7915ae1c65bffcd60287b05a4a5e2d20"></a>
        </div>
    </div>
    <a class="small text-muted" href="/account/join/" rel="nofollow"> <i class="fa fa-info-circle"
            aria-hidden="true"> </i> Remove ads</a>
</div>