<div class="sidebar-module sidebar-module-inset text-center my-3 py-0">
    <span>
        <a target="_blank" rel="nofollow"
            href="https://twitter.com/intent/tweet/?text=Check out this %23Python tutorial: Hosting%20a%20Django%20Project%20on%20Heroku by @realpython&amp;url=https%3A//realpython.com/django-hosting-on-heroku/"
            class="mr-1 badge badge-twitter text-light mb-1"><i class="mr-1 fa fa-twitter text-light"></i>Tweet</a>
        <a target="_blank" rel="nofollow"
            href="https://facebook.com/sharer/sharer.php?u=https%3A//realpython.com/django-hosting-on-heroku/"
            class="mr-1 badge badge-facebook text-light mb-1"><i class="mr-1 fa fa-facebook-f text-light"></i>Share</a>
        <a target="_blank" rel="nofollow"
            href="mailto:?subject=Python article for you&amp;body=Check out this Python tutorial:%0A%0AHosting%20a%20Django%20Project%20on%20Heroku%0A%0Ahttps%3A//realpython.com/django-hosting-on-heroku/"
            class="badge badge-red text-light mb-1"><i class="mr-1 fa fa-envelope text-light"></i>Email</a>
    </span>
</div>


{{ with .site.Params.share }}
{{ if .enable }}
<div class="sidebar-module sidebar-module-inset text-center my-3 py-0">
    {{ with .Facebook }}
    <p>Facebook</p>
    {{ end }}
    {{ with .Linkedin }}
    <p>Linkedin</p>
    {{ end }}
</div>
{{ end }}
{{end}}