{{/*  Tag list  */}}

{{- $taxo := "tags" -}}
{{- with .Param $taxo }}
<span class="ml-2 fa fa-tags" aria-hidden="true"></span>
{{- range . }}
    {{- $url := urls.Parse (. | urlize) -}}
    {{- $path := $url.Path -}}
    {{- with $.Site.GetPage (printf "/%s/%s" $taxo $path) }}
        <a class="badge badge-light text-muted" href="{{ .RelPermalink }}"> {{ .Title }}</a>
    {{- end }}
{{- end }}
{{- end }}


{{/*  TAG Topics  */}}
{{/*  <div class="sidebar-module sidebar-module-inset border">
    <p class="h4"><a class="link-unstyled" href="https://realpython.com/tutorials/all/">All Tutorial
            Topics</a></p>
    {{ range (.GetTerms "tags") }}
<a href="{{ .Permalink }}" class="badge badge-light text-muted">{{ .Page.Title | markdownify }}</a>
{{ end }}
</div>  */}}

{{/*  Metodo 2  */}}
{{/*  {{ range .Params.tags }}
<span aria-hidden="true" class="fa fa-tags"></span>
<a class="badge badge-light text-muted mr-1"
    href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
{{end}}  */}}

{{/*  Metodo 3  */}}
{{/*  {{ range (.GetTerms "tags") }}
<a class="badge badge-light text-muted" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{ end }}  */}}