{{ define "main" }}
<div class="container main-content"> 
	<div class="row">
		<div class="col-md-12">
			{{/*  Grid Layout 2x2  */}}

			<div class="container main-content">

				<h1 class="text-center" id="">{{ .Page.Title | markdownify }}<a class="headerlink"
					href="{{- .RelPermalink -}}" title="Permanent link"></a></h1>

				{{/*  Sottotitolo */}}
				{{ with .Params.subtitle }}
				<p class="text-center text-muted mb-5">{{ . | markdownify }}</p>
				{{ end }}

				<p>{{ .Content }}</p>

				{{/*  First post  */}}
				<div class="card bg-white rounded border shadow-sm my-4 w-100">

					{{/*  {{- $pages := first 1 (where .Site.RegularPages "Type" "portfolio") -}}  */}}
					{{- $pages := first 1 (where .Site.RegularPages "Section" "portfolio") -}}
					{{- range $pages -}}

					{{- /* Post Cover Image */ -}}
					{{ $img := (.Resources.ByType "image").GetMatch "featured-image" }}
					{{ with $img }}
					{{ $imageName := $img.Title }}
					{{ $imageName = $imageName | strings.TrimSuffix (path.Ext $imageName )}}
					{{ partial "tools/img" (dict "img" . "alt" $imageName ) }}
					{{ end }}

					<div class="card-body d-flex flex-column">
						<h2 class="card-title mt-0 "><a class="link-unstyled" href="{{ .RelPermalink }}">
								{{.Page.Title | markdownify}}</a></h2>
						<div class="container">
							<div class="row">
								<div class="col-2 col-md-1 p-0 align-self-center">

									<a href="{{ .RelPermalink }}">
										<a href="{{.Params.authorLink | urlize }}">
											<img loading="lazy" src="{{ .Params.avatar }}"
												class="rounded-circle img-fluid w-100" sizes="10vw"
												alt="{{ .Params.author | markdownify }}"></a>
								</div>
								<div class="col pr-0 d-flex align-items-center">
									<p class="my-0">
										<span class="text-muted">
											<span class="mr-2"><a class="text-muted"
													href="{{ .Params.authorlink | urlize }}">{{ .Params.author | markdownify }}</a></span>
											{{/*  <span class="mr-2">5 Lessons</span>
											<span class="mr-2"><i class="fa fa-clock-o"></i> 26m</span>  */}}
											<br>
											{{/*  Tag list  */}}
											{{ partial "components/tag.html" . }}
										</span>
									</p>
								</div>
							</div>
						</div>
						<p class="card-text text-muted mt-3">{{ .Summary | truncate 240 | safeHTML }}</p>
						<div class="text-center mt-auto">
							<a href="{{ .RelPermalink }}" class="btn btn-primary btn-lg px-4 "><i
									class="fa fa-play fa-fw"></i> {{ i18n "readMore" }}</a>
						</div>
					</div>
					{{- end -}}
				</div>

				{{/*  Cardo dalla seconda in poi  */}}
				<div class="card-deck">
					{{/*  {{- $pages := after 1 (where .Site.RegularPages "Type" "portfolio") -}}  */}}
					{{- $pages := after 1 (where .Site.RegularPages "Section" "portfolio") -}}

					{{- range $pages -}}
					<div class="card bg-white rounded border  my-4 w-100" style="min-width: 45%">

						{{- /* Post Cover Image */ -}}
						{{ $img := (.Resources.ByType "image").GetMatch "featured-image" }}
						{{ with $img }}
						{{ $imageName := $img.Title }}
						{{ $imageName = $imageName | strings.TrimSuffix (path.Ext $imageName )}}
						{{ partial "tools/img" (dict "img" . "alt" $imageName ) }}
						{{ end }}

						<div class="card-body d-flex flex-column">
							<h2 class="card-title mt-0 "><a class="link-unstyled"
									href="{{ .RelPermalink }}">{{.Page.Title | markdownify}}</a></h2>
							<div class="container">
								<div class="row">
									<div class="col-2 col-md-1 p-0 align-self-center">
										<a href="{{.Params.authorLink | urlize }}">
											<img loading="lazy" src="{{ .Params.avatar }}"
												class="rounded-circle img-fluid w-100" sizes="10vw"
												alt="{{ .Params.author | markdownify }}"></a>
									</div>
									<div class="col pr-0 d-flex align-items-center">
										<p class="my-0">
											<span class="text-muted">
												<span class="mr-2"><a class="text-muted"
														href="{{ .Params.authorlink | urlize }}">{{ .Params.author | markdownify }}</span>
												{{/*  <span class="mr-2">16 Lessons</span>  */}}
												{{/*  <span class="mr-2"><i class="fa fa-clock-o"></i> 1h&nbsp;17m</span>  */}}
												{{/*  <br>  */}}

												{{/*  Tag list  */}}
												{{ partial "components/tag.html" . }}
											</span>
										</p>
									</div>
								</div>
							</div>
							<p class="card-text text-muted mt-3">{{ .Summary | truncate 240 | safeHTML }}</p>
							<div class="text-center mt-auto">
								<a href="{{ .RelPermalink }}" class="btn btn-outline-dark "><i
										class="fa fa-play fa-fw"></i> {{ i18n "readMore" }}</a>
							</div>
						</div>
					</div>
					{{- end -}}
					{{- partial "paginator.html" . -}}

				</div>

				<div class="row justify-content-center w-100">
					<div class="col-md-10 col-lg-8 article">
						<div class="article-body page-body">
							<p class="text-center"><a href="{{"/contact/" | relURL}}"><i class="fa fa-comment"
										aria-hidden="true"></i> {{ i18n "gotFeedback" }}</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{{end}}