<h2 class="text-center" id="browse-learning-paths">Browse Learning Paths<a class="headerlink"
    href="#browse-learning-paths" title="Permanent link"></a></h2>
<p class="text-center">Ready to continue your Python journey? Pick your Learning Path below and jump
right in, or <a href="https://realpython.com/search?kind=path">search &amp; filter learning paths by
    topic and skill level</a>.</p>


<p class="text-center small my-4"><a
    href="https://feedback.realpython.com/realpython-com/?d=eyJwIjoicmVhbHB5dGhvbi1jb20iLCJzaWciOiJWMCM9emFMZUwjN15tRStKejw5bzx3ZGZ6M30pTClTaTtufl5sdClrIiwidCI6IlB5dGhvbiBMZWFybmluZyBQYXRocyIsInUiOiJodHRwczovL3JlYWxweXRob24uY29tL2xlYXJuaW5nLXBhdGhzLyJ9"
    target="_blank"><i class="fa fa-commenting-o" aria-hidden="true"></i> Got feedback on our
    learning paths?</a>
</p>


<div class="alert alert-dark my-4">
    <p class="mb-0">Looking for real-time conversation? Visit the <a href="/community/" target="_blank">Real
            Python Community Chat</a> or join the next <a href="/office-hours/"
            target="_blank">“Office&nbsp;Hours” Live Q&amp;A Session</a>. Happy Pythoning!</p>
</div>

