title = "Arberia Theme"
baseURL = "https://example.com/"
relativeURLs = false
languageCode = "en-us"
defaultContentLanguage = 'en'
theme = "arberia"

# format date. See https://gohugo.io/functions/format/
dateformat = "Monday, January 2, 2006"

# To list the most relevant pages on the front page or similar, 
# you should use the site.Params.mainSections list instead of comparing 
# section names to hard-coded values like "posts" or "post".
# [params]
#   mainSections = ['posts',]

[taxonomies]
  tag = "tags"
  category = "categories"

[outputs]
  home = ["HTML", "JSON", "RSS", "AMP", "robotsTXT"]
  page = ["HTML"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]

[markup]
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 5
    ordered = false
    tocMinWordCount = 100 # Minimum word count to display the Table of Contents

  [markup.goldmark.renderer] # Controllare cosa faccia
    unsafe = true

  [markup.highlight]
    codeFences = true
    guessSyntax = true        # Cerca di indovinare il linguaggio se non specificato
    hl_Lines = ""              # Evidenzia le righe 2 e da 4 a 6
    lineNoStart = 1             # Numero iniziale per la numerazione righe
    lineNos = true              # Mostra i numeri di riga
    lineNumbersInTable = false   # Mostra i numeri in una tabella separata
    noClasses = true            # Usa stili inline invece di classi CSS
    style = "monokai"           # Tema per l'evidenziazione (es. "monokai", "dracula", "github")
    tabWidth = 4                # Larghezza dei tab

[permalinks]
  posts = "/:title/"

[minify]
  minifyOutput = true

enableRobotsTXT= true

[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["txt"]

[outputFormats]
  [outputFormats.robotsTXT]
    mediaType = "text/plain"
    baseName = "robots"
    isPlainText = true
    noExtension = false


############################# Plugins ##############################
# CSS Plugins
# [[params.plugins.css]]
# link = "css/Custom.css"
# [[params.plugins.css]]
# link = "https://pro.fontawesome.com/releases/v5.10.0/css/all.css"

# JS Plugins
# [[params.plugins.js]]
# link = "js/customJS.js"
