{{ define "main"}}

<!-- Main Content -->
<div class="container main-content">
 <div class="row justify-content-center">

  {{/*  Title  */}}
  <h1 id="page-title" class="text-center my-5">{{i18n "allPostsforTerms" }} "{{ .Title }}"
   <a class="headerlink" href="{{- .RelPermalink -}}" title="Permanent link"></a>
  </h1>

  {{/*  Subtitle */}}
  {{ with .Params.subtitle }}
  <p class="text-center text-muted">{{ . | markdownify }}</p>
  {{ end }}

  {{/*  <a name="top"></a>  */}}
  {{ if not (eq (len $.Data.Terms) 0) }}
  <div class="container col-md-10 col-lg-8 article">
  {{/*  {{ range .Data.Terms.Alphabetical }}  */}}
  {{ range (where .Data.Terms "Type" "not in" "search").Alphabetical }}
  <div id="author" class="card mb-3">
   <a class="card-header h3 text-center text-muted text-uppercase bg-light"
    href="{{ .Page.Title | urlize}}">{{ .Page.Title }}
    {{/*  <i class="badge badge-primary ml-2">{{ .Count }}</i> */}}
   </a>

   <div class="card-body" style="margin: -15px">
    <div class="container">
     {{ range .Pages }}
     <div class="categories-item">
      <a href="{{ .RelPermalink }}" class="categories-item-link">
       <i class="fa fa-angle-right fa-fw"></i>&nbsp;{{ .Title }} -
       <small>{{ .PublishDate | time.Format .Site.Params.dateFormat }}</small></a>
     </div>
     {{end}}
    </div>
    {{/*  <a href="#top" class="float-right">
     <small>back to top</small>
    </a>  */}}
   </div>
  </div>
  {{end}}
 </div>
 {{ end }}
</div>
</div>
</div>

{{ end }}