<!-- Explore Real Python -->
<div class="d-flex justify-content-between align-items-center w-100 mt-0 mb-2">
    <h2 class="my-0"><a href="" class="text-body">Explore Real Python</a></h2>
</div>
<div class="card-deck mb-3">
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/learning-paths/"
                style="color: #ffc873; line-height: 110%;"><i class="fa fa-fw mr-1 fa-map-o"></i>Learning
                Paths<br><small class="text-secondary">Guided study plans for accelerated learning</small></a>
        </div>
    </div>
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link"
                href="https://realpython.com/search?kind=article&amp;kind=course&amp;order=newest"
                style="color: #ff7e73; line-height: 110%;"><i class="fa fa-fw mr-1 fa-graduation-cap"></i>Python
                Tutorials<br><small class="text-secondary">In-depth articles and step-by-step video courses</small></a>
        </div>
    </div>
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/quizzes/"
                style="color: #abe0e5; line-height: 110%;"><i class="fa fa-fw mr-1 fa-trophy"></i>Quizzes<br><small
                    class="text-secondary">Check your learning
                    progress</small></a>
        </div>
    </div>
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/tutorials/all/"
                style="color: #ccc; line-height: 110%;"><i class="fa fa-fw mr-1 fa-tags"></i>Browse Topics<br><small
                    class="text-secondary">Focus on a specific area or skill level</small></a>
        </div>
    </div>
</div>
<div class="card-deck mb-3">
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/community/"
                style="color: #e5c6ab; line-height: 110%;"><i class="fa fa-fw mr-1 fa-slack"></i>Community
                Chat<br><small class="text-secondary">Learn with other Pythonistas</small></a>
        </div>
    </div>
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/office-hours/"
                style="color: #e5c6ab; line-height: 110%;"><i class="fa fa-fw mr-1 fa-users"></i>Office Hours<br><small
                    class="text-secondary">Live Q&amp;A calls with an expert from the Real Python Team</small></a>
        </div>
    </div>
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/podcast"
                style="color: #b8abe5; line-height: 110%;"><i class="fa fa-fw mr-1 fa-podcast"></i>Podcast<br><small
                    class="text-secondary">Hear what’s new in the world of
                    Python programming</small></a>
        </div>
    </div>
    <div class="card bg-dark border-0">
        <div class="card-body text-center highlight-hover-dark rounded">
            <a class="btn stretched-link" href="https://realpython.com/products/books/"
                style="color: #abe5b1; line-height: 110%;"><i class="fa fa-fw mr-1 fa-book"></i>Books<br><small
                    class="text-secondary">Round out your knowledge and learn offline</small></a>
        </div>
    </div>
</div>

<div class="d-flex mb-5">
    <form class="form-inline col pl-0" action="/search" method="GET" id="home-search-form">
        <a class="js-search-form-submit position-absolute" href="https://realpython.com/search" title="Search"><i
                class="fa fa-search fa-fw text-muted pl-2" aria-hidden="true"></i></a>
        <input class="form-control form-control-lg w-100" style="padding-left: 2rem;" maxlength="50" type="search"
            placeholder="Search Tutorials, Courses, Quizzes, Learning Paths…" aria-label="Search" name="q">
        <input type="hidden" name="_from" value="home">
    </form>
    <button class="btn btn-primary col-3 px-2" type="submit" form="home-search-form">Search&nbsp;»</button>
</div>

{{ partial "components/search.html" . }}
<!-- END Explore Real Python -->