{{/*  <div class="container main-content">  */}}
<div class="row justify-content-center">

    {{/*  <aside class="col-md-7 col-lg-4 order-first order-lg-last">
            <div class="sidebar-sticky">
                <div class="custom-control custom-checkbox mt-3"><input type="checkbox" id="chkKindAny"
                        class="custom-control-input" disabled="disabled"> <label for="chkKindAny"
                        class="custom-control-label" style="cursor: pointer;"><strong>All Resources</strong></label>
                </div>
                <p class="text-left py-3 my-0 small"><a
                        href="https://feedback.realpython.com/realpython-com/?d=eyJwIjoicmVhbHB5dGhvbi1jb20iLCJzaWciOiJqJmY5IUtsTEVNTTRLQGpSWTU3Z24jOF9pXismXl5fdlM9cXtvZmVxIiwidCI6IlJQIExpYnJhcnkgU2VhcmNoIEZlZWRiYWNrIiwidSI6ImxpYnJhcnkifQ=="
                        target="_blank"><i aria-hidden="true" class="fa fa-commenting-o"></i> Send Feedback</a></p>
            </div>
        </aside>   */}}

    <!-- Lista -->
    <div id="listArea" class="col-md-11 col-lg-8 article">
        <!-- Testata -->
        <div class="mt-1 mb-4">
            <div class="d-flex align-items-center justify-content-between">
                <h2>Blog Post</h2>
            </div>
        </div>

        {{/*  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}  */}}
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}

        {{/*  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }} */}}
        <div class="container my-3">
            {{ range $paginator.Pages.ByDate.Reverse }}
            {{/*  {{- .Render "summary" -}}  potrebbe bastare questo*/}}
            <div class="row">

                <div class="col-12 col-sm-4 align-self-top px-0">
                    <a href="{{.RelPermalink}}">
                        {{- /* Post Cover Image */ -}}
                        {{ $img := (.Resources.ByType "image").GetMatch "featured-image" }}
                        {{ with $img }}
                        {{ $imageName := $img.Title }}
                        {{ $imageName = $imageName | strings.TrimSuffix (path.Ext $imageName )}}
                        {{ partial "tools/img" (dict "img" . "alt" $imageName ) }}
                        {{ end }}
                    </a>
                </div>

                <div class="col-12 col-sm-8 px-0 pl-sm-3 pt-2 pt-sm-0">
                    <a href="{{.RelPermalink}}" class="stretched-link">
                        <h2 class="my-0 h5">{{ .Title }}<span title="In-Progress" class="float-right">
                                <i class="fas fa-circle-notch text-muted"></i></span></h2>
                    </a>
                    <p class="small text-muted my-0">
                        <span class="mr-2">{{ .PublishDate.Format "2 January 2006" }}</span>
                        {{/*  Tag list  */}}
                        {{ partial "components/tag.html" . }}
                    </p>
                    <!-- Usare la funzione truncate -->
                    <p class="text-muted my-0 mt-1 small">{{ .Summary | truncate 240 | safeHTML }}</p>
                    <!-- Aggiunta da me -->
                    <div>
                        <a class="small" href="{{ .RelPermalink }}">Read More…</a>
                        {{/*  <a class="small" style= "display: flex; justify-content: flex-end" href="{{ .RelPermalink }}">Read
                        More…</a> */}}
                    </div>
                </div>

            </div>
            <hr style="border: 0; border-color: #dee2e6">
            {{ end }}

            {{/*  creare una css class per il paginator  */}}
            {{/*  <div class="text-muted my-0 mt-1" style="display: flex; justify-content: center;">
                        {{ partial "pagination.html" . }}
        </div> */}}
        <div class="text-muted my-0 mt-1" style="display: flex; justify-content: center;">
            {{ partial "paginator.html" . }}
        </div>
        {{/*  <div class="text-muted my-0 mt-1" style="display: flex; justify-content: center;">
                        <!-- Hugo's default pagination template. -->
                        {{ template "_internal/pagination.html" . }}
    </div> */}}

</div>
</div>

</div>

</div>
{{/*  </div>  */}}