<!-- LIBRARY JS -->
<script type="text/javascript" src="{{ "lib/jquery/jquery.js" | relURL }}"></script>
<script type="text/javascript" src={{"lib/popper/popper.js" | relURL }}></script>
<script type="text/javascript" src="{{ "lib/bootstrap/js/bootstrap.min.js" | relURL }}"></script> 
<script type="text/javascript" src="{{ "lib/glightbox/js/glightbox.js" | relURL }}"></script>

<!-- CUSTOM JS -->
{{ range .Site.Params.customJS -}}
<script type="text/javascript" src="{{ .link | relURL }}"></script>
<script src="{{ "/js/" | relURL }}{{ . }}"></script> 
{{ end }} 


<!-- Plugin: search -->
{{/*  <script type="text/javascript" src="{{"plugins/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"plugin/auto-complete.js" | relURL}}"></script>
<link href="{{"plugins/auto-complete.css" | relURL}}" rel="stylesheet">
<script type="text/javascript">
  {{ if .Site.IsMultiLingual }}
      var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  {{ else }}
      var baseurl = "{{.Site.BaseURL}}";
  {{ end }}
</script>
<script type="text/javascript" src="{{"plugins/search.js" | relURL}}"></script>  */}}
