<!-- LIBRARY JS -->
<script type="text/javascript" src="{{ "lib/jquery/jquery.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "lib/popper/popper.js" | absURL }}"></script>
<script type="text/plain" src="{{ "lib/bootstrap/bootstrap.js" | absURL }}"></script>  */}}

<script type="text/javascript" src="{{ "lib/repl-toggle/repl-toggle.js" | relURL }}"></script>
<script type="text/plain" src="{{ "lib/lightbox/js/lightbox.js" | relURL }}"></script>

{{/*  <script type="text/javascript" src="{{ "lib/tag/tag.js" | relURL }}"></script>  */}}
{{/*  <script type="text/javascript" src="{{ "lib/vendor/vendor.js" | relURL }}"></script>  */}}
{{/*  <script type="text/javascript" src="{{ "lib/htmx/htmx.js" | relURL }}"></script>  */}}
{{/*  {<script type="text/javascript" src="{{ "lib/main/main.js" | relURL }}"></script>   */}}
{{/*  <script type="text/javascript" src="{{ "lib/analytics/analytics.js" | relURL }}"></script>  */}}
{{/*  <script type="text/javascript" src="{{ "lib/invisible/invisible.js" | relURL }}"></script>  */}}


<!-- CUSTOM JS -->
{{ range .Site.Params.customJS -}}
<script type="text/javascript" src="{{ .link | relURL }}"></script>
<script src="{{ "/js/" | relURL }}{{ . }}"></script> 
{{ end }} 
