<aside id="text-24" class="widget widget_text">


</aside>


<aside class="col-md-7 col-lg-4">
	{{- partial "components/author-sb.html" . -}} {{/* Author box  */}}
	{{- partial "components/yt-banner.html" . -}} {{/* YouTube Banner  */}}
	{{- partial "components/mailchimp.html" . -}} {{/*  Email Subscription  */}}
	{{/*  {{ partial "recent-widget-new.html" . }} TAG Collection  */}}
	{{/*  {{ partial "recent-widget.html" . }} Recent Post Collection  */}}
	{{/*  {{- partial "components/email-subscription.html"  -}}Email Subscription  */}}
	{{/*  {{- partial "components/tag-collection.html"  -}} TAG Topics */}}


		{{/*  TAG Topics  */}}
		{{/*  <div class="sidebar-module sidebar-module-inset border">
			<p class="h4"><a class="link-unstyled" href="https://realpython.com/tutorials/all/">All Tutorial
					Topics</a></p>
			{{ range (.GetTerms "tags") }}
			<a href="{{ .Permalink }}" class="badge badge-light text-muted">{{ .Page.Title | markdownify }}</a>
			{{ end }}
		</div>  */}}
		
		{{- partial "components/tag-collection.html" . -}}

		<div class="sidebar-sticky ">
			{{/*  Table of Contents on sidebar  */}}
			{{ if .Params.toc }}
			{{- partial "components/toc.html" . -}}
			{{ end }}
			{{/*  {{- partial "components/completed-mark.html" . -}}   */}}
			{{/*  {{- partial "components/share-button.html"  -}} Share button  */}}
			{{/*  {{- partial "components/adv-sd.html"  -}} ADV Image  */}}
		</div>
	</aside>