<div class="sidebar-module sidebar-module-inset p-0" style="overflow:hidden;">
    <div style="display:block;position:relative;">
        <div style="display:block;width:100%;padding-top:25%;"></div>
        <div class="rpad" data-unit="4x1"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;"><a
                href="https://srv.realpython.net/click/19491843653/?c=31941813441&amp;p=58946116052&amp;r=75455"
                rel="nofollow" target="_blank"><img
                    style="max-width: 100%; max-height: 100%; width: 100%;"
                    src="https://img.realpython.net/609393a03ca1e3437385150e8a1a022e"></a>
        </div>
    </div>
</div>