            {{/*  TAG Topics  */}}
            {{/*  <div class="sidebar-module sidebar-module-inset border">
                <p class="h4"><a class="link-unstyled" href="https://realpython.com/tutorials/all/">All Tutorial
                                    Topics</a></p>
                {{ range (.GetTerms "tags") }}
                    <a href="{{ .Permalink }}" class="badge badge-light text-muted">{{ .Page.Title }}</a>
                {{ end }}
            </div>  */}}
            
<div class="sidebar-module sidebar-module-inset border">
    <p class="h4"><a class="link-unstyled" href="https://realpython.com/tutorials/all/">All Tutorial
            Topics</a></p>
    <a href="https://realpython.com/tutorials/advanced/" class="badge badge-light text-muted">advanced</a>
    <a href="https://realpython.com/tutorials/api/" class="badge badge-light text-muted">api</a>
    <a href="https://realpython.com/tutorials/basics/" class="badge badge-light text-muted">basics</a>
    <a href="https://realpython.com/tutorials/best-practices/"
        class="badge badge-light text-muted">best-practices</a>
    <a href="https://realpython.com/tutorials/community/" class="badge badge-light text-muted">community</a>
    <a href="https://realpython.com/tutorials/databases/" class="badge badge-light text-muted">databases</a>
    <a href="https://realpython.com/tutorials/data-science/"
        class="badge badge-light text-muted">data-science</a>
    <a href="https://realpython.com/tutorials/devops/" class="badge badge-light text-muted">devops</a>
    <a href="https://realpython.com/tutorials/django/" class="badge badge-light text-muted">django</a>
    <a href="https://realpython.com/tutorials/docker/" class="badge badge-light text-muted">docker</a>
    <a href="https://realpython.com/tutorials/flask/" class="badge badge-light text-muted">flask</a>
    <a href="https://realpython.com/tutorials/front-end/" class="badge badge-light text-muted">front-end</a>
    <a href="https://realpython.com/tutorials/gamedev/" class="badge badge-light text-muted">gamedev</a>
    <a href="https://realpython.com/tutorials/gui/" class="badge badge-light text-muted">gui</a>
    <a href="https://realpython.com/tutorials/intermediate/"
        class="badge badge-light text-muted">intermediate</a>
    <a href="https://realpython.com/tutorials/machine-learning/"
        class="badge badge-light text-muted">machine-learning</a>
    <a href="https://realpython.com/tutorials/projects/" class="badge badge-light text-muted">projects</a>
    <a href="https://realpython.com/tutorials/python/" class="badge badge-light text-muted">python</a>
    <a href="https://realpython.com/tutorials/testing/" class="badge badge-light text-muted">testing</a>
    <a href="https://realpython.com/tutorials/tools/" class="badge badge-light text-muted">tools</a>
    <a href="https://realpython.com/tutorials/web-dev/" class="badge badge-light text-muted">web-dev</a>
    <a href="https://realpython.com/tutorials/web-scraping/"
        class="badge badge-light text-muted">web-scraping</a>
</div>