{{ define "main" }}

<div class="container main-content">
  {{/*  <script>
    (function(){
      window.__vimeo_errors = [];
      function receiveMessage(event) {
        if (event.origin !== "https://player.vimeo.com") {
          return;
        }
        if (event.data.event !== "error") {
          return;
        }
        window.__vimeo_errors.push(event.data);
      }
      window.addEventListener("message", receiveMessage, false);
    })();
    </script>  */}}
  <div class="row justify-content-center">
    <div class="col-12 mb-2 order-1">
      <div class="embed-responsive embed-responsive-16by9 mb-4 rounded bg-light" id="videoWrapper">
        <button id="jsEnterFullscreenButton" class="btn text-muted border-0 btn-outline-secondary rounded-bottom"
          style="z-index: 1; position: absolute; top: 0; right:0;" title="Enter fullscreen mode"><i
            class="fa fa-expand"></i></button>
        <button id="jsExitFullscreenButton"
          class="btn text-muted border-0 btn-outline-secondary w-100 rounded d-none text-small"
          style="z-index: 1; position: absolute; top: 0; left: 0; right: 0;" title="Exit fullscreen mode"><i
            class="fa fa-compress"></i> <span id="jsExitFullscreenExplainer">Exit&nbsp;Fullscreen</span></button>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/taxItkTlY_0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div id="jsVideoPlaybackSpeedNotice" class="d-none alert alert-dismissible alert-primary mt-n2">
        <strong>Hint:</strong> You can adjust the default video playback speed in <a class="alert-link"
          href="/account/">your account settings</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="jsVideoSubtitlesLanguageNotice" class="d-none alert alert-dismissible alert-primary mt-n2">
        <strong>Hint:</strong> You can set the default subtitles language in <a class="alert-link" href="/account/">your
          account settings</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="jsVideoErrorNotice" class="d-none alert alert-dismissible alert-danger mt-n3">
        <strong>Sorry!</strong> Looks like there’s an issue with video playback 🙁 This might be due to a temporary
        outage or because of a configuration issue with your browser. Please see our <a class="alert-link"
          target="_blank" href="https://support.realpython.com/search?query=video+issues">video player troubleshooting
          guide</a> to resolve the issue.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    <div class="col-md-11 col-lg-8 article order-3 order-lg-2">
      <div>
        <h1>Code Your First Python Program (Overview)</h1>
        <div class="container">
          <div class="row">
            <div class="col-2 col-md-1 p-0 align-self-center">
              <a href="/courses/python-basics-first-program/#team"><img
                  src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/IMG_1250.b2eeb8f803ea.jpeg&amp;w=1770&amp;h=1770&amp;mode=crop&amp;sig=ce02935882c3c09ed67bdf4e7dc7475b792d05a9"
                  srcset="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/IMG_1250.b2eeb8f803ea.jpeg&amp;w=442&amp;h=442&amp;mode=crop&amp;sig=180ec8ab6c852c98d93730288807684d021103cb 442w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/IMG_1250.b2eeb8f803ea.jpeg&amp;w=885&amp;h=885&amp;mode=crop&amp;sig=895b3b2fdb680d1ccde0b87482270d5abcfa6f78 885w, https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/IMG_1250.b2eeb8f803ea.jpeg&amp;w=1770&amp;h=1770&amp;mode=crop&amp;sig=ce02935882c3c09ed67bdf4e7dc7475b792d05a9 1770w"
                  sizes="10vw" class="rounded-circle img-fluid w-100" alt="Chris Bailey"></a>
            </div>
            <div class="col pr-0 d-flex align-items-center">
              <p>
                <span class="text-muted">
                  <strong><a class="text-muted" href="/courses/python-basics-first-program/">Python Basics: Code Your
                      First Python Program</a></strong>
                  <br>
                  <a class="text-muted" href="/courses/python-basics-first-program/#team" target="_blank">Christopher
                    Bailey</a>
                  <span class="ml-2 fa fa-clock-o"></span> 01:39
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="btn-group mr-2 my-1">
            <div id="jsCompletionButton" ic-src="/api/v1/lessons/first-python-program-overview/completion_status/"
              ic-replace-target="true" ic-id="1">
              <button id="jsIsInProgress" title="Click to mark as completed" class="btn btn-secondary border-right"
                style="border-top-right-radius: 0; border-bottom-right-radius: 0;" ic-target="#jsCompletionButton"
                ic-replace-target="true"
                ic-post-to="/api/v1/lessons/first-python-program-overview/completion_status/?completed=1"
                ic-on-success="notifyCompleted()"
                ic-src="/api/v1/lessons/first-python-program-overview/completion_status/?completed=1" ic-verb="POST"
                ic-trigger-on="default" ic-deps="ignore">Mark as Completed</button>
            </div>
            <button title="Add bookmark" class="btn btn-secondary border-left" ic-replace-target="true"
              ic-post-to="/api/v1/lessons/first-python-program-overview/bookmark/?bookmarked=1"
              ic-on-success="notifyBookmarked()"
              ic-src="/api/v1/lessons/first-python-program-overview/bookmark/?bookmarked=1" ic-verb="POST"
              ic-trigger-on="default" ic-deps="ignore" ic-id="2"><i class="fa fa-fw fa-bookmark-o"></i></button>
          </div>
          <span class="dropdown mr-2 my-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="supportingMaterialButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supporting Material</button>
            <div class="dropdown-menu bg-light" aria-labelledby="supportingMaterialButton">
              <a class="dropdown-item text-body bg-light" target="_blank"
                href="/courses/python-basics-first-program/downloads/python-basics-first-program-slides/"><i
                  class="fa fa-cloud-download fa-fw"></i> Course Slides (.pdf)</a>
            </div>
          </span>
          <a href="https://feedback.realpython.com/realpython-com/?d=eyJwIjoicmVhbHB5dGhvbi1jb20iLCJzaWciOiJyKWBNQG1fNzJoUD82Unw1NnFrfEZ6KUg0ZztKTWswOVM0NTBvelVJIiwidCI6IkNvZGUgWW91ciBGaXJzdCBQeXRob24gUHJvZ3JhbSAoT3ZlcnZpZXcpIChMZXNzb24pIiwidSI6Imh0dHBzOi8vcmVhbHB5dGhvbi5jb20vbGVzc29ucy9maXJzdC1weXRob24tcHJvZ3JhbS1vdmVydmlldy8ifQ=="
            target="_blank" class="btn btn-secondary mr-2 my-1">Give Feedback</a>
        </div>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link tab-header-nav-link link-unstyled text-body active" id="description-tab"
              data-toggle="tab" href="#description" role="tab" aria-controls="description"
              aria-selected="true">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-header-nav-link link-unstyled text-body " id="transcript-tab" data-toggle="tab"
              href="#transcript" role="tab" aria-controls="transcript" aria-selected="false"><i
                class="fa fa-file-text-o text-muted mr-1"></i>Transcript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-header-nav-link link-unstyled text-body " id="discussion-tab" data-toggle="tab"
              href="#discussion" role="tab" aria-controls="discussion" aria-selected="false"><i
                class="fa fa-comments-o text-muted mr-1"></i>Comments &amp; Discussion </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active my-3 article-body" id="description" role="tabpanel"
            aria-labelledby="description-tab" style="min-height: 300px">
            <p>In the previous Python Basics video course, you <a
                href="https://realpython.com/courses/setting-up-python/">set up Python</a> on your computer. With Python
              installed, you’re ready ready to start coding!</p>
            <p><strong>In this video course, you’ll:</strong></p>
            <ul>
              <li>Write your <strong>first Python program</strong></li>
              <li>Learn what happens when you run a program with an <strong>error</strong></li>
              <li>Learn how to <strong>declare a variable</strong> and <strong>inspect its value</strong></li>
              <li>Learn how to <strong>write comments</strong></li>
            </ul>
            <p>This course can be enjoyed alone or as an accompaniment to <a href="http://pythonbasicsbook.com">Python
                Basics: A Practical Introduction to Python 3</a>.</p>
            <p>Ready to begin your Python journey? Let’s go!</p>
            <p>For more information on concepts covered in this lesson, you can check out:</p>
            <ul>
              <li><a href="https://realpython.com/courses/setting-up-python/">Python Basics: Setting Up Python</a></li>
              <li><a href="https://realpython.com/installing-python/">Python 3 Installation &amp; Setup Guide</a></li>
              <li><a href="https://realpython.com/python-pep8/">How to Write Beautiful Python Code With PEP 8</a></li>
            </ul>
            <div class="container border rounded my-4">
              <div class="row my-3">
                <div class="col">
                  <p class="small text-muted mb-0"><i class="fa fa-cloud-download mr-1" aria-hidden="true"></i>
                    <strong>Download</strong></p>
                  <a class="stretched-link"
                    href="/courses/python-basics-first-program/downloads/python-basics-first-program-slides/"
                    target="_blank">
                    <p class="h2 my-0 h3">Course Slides (.pdf)</p>
                  </a>
                  <p class="text-muted mb-0 small">1.3&nbsp;MB</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade my-3 " id="transcript" role="tabpanel" aria-labelledby="transcript-tab"
            style="min-height: 300px">
            <p>
              <a href="#t=0.48" class="text-body js-video-timelink"><strong>00:00</strong></a>
              <a href="#t=0.48" data-video-timestamp-start="0.48" data-video-timestamp-end="5.25"
                class="text-body js-video-timelink">I want to welcome you to the Python Basics: Your First Program video
                course.</a> <a href="#t=5.67" data-video-timestamp-start="5.67" data-video-timestamp-end="8.25"
                class="text-body js-video-timelink">My name’s Christopher Bailey, and I’ll be leading you through this
                course.</a> <a href="#t=8.97" data-video-timestamp-start="8.97" data-video-timestamp-end="12.6"
                class="text-body js-video-timelink">The first Python Basics video course was about getting Python
                installed on your</a> <a href="#t=12.6" data-video-timestamp-start="12.6"
                data-video-timestamp-end="16.53" class="text-body js-video-timelink">computer. And now that you got it
                installed, it’s time to start coding.</a>
            </p>
            <p>

              <a href="#t=18.42" class="text-body js-video-timelink"><strong>00:18</strong></a>
              <a href="#t=18.42" data-video-timestamp-start="18.42" data-video-timestamp-end="21.3"
                class="text-body js-video-timelink">In this course, you’ll write your first Python script.</a> <a
                href="#t=21.96" data-video-timestamp-start="21.96" data-video-timestamp-end="25.98"
                class="text-body js-video-timelink">You’ll learn what happens when you run scripts with an error, and
                you’ll learn</a> <a href="#t=25.98" data-video-timestamp-start="25.98" data-video-timestamp-end="28.86"
                class="text-body js-video-timelink">how to declare variables and inspect their value.</a>
            </p>
            <p>
              <a href="#t=29.79" class="text-body js-video-timelink"><strong>00:29</strong></a>
              <a href="#t=29.79" data-video-timestamp-start="29.79" data-video-timestamp-end="32.13"
                class="text-body js-video-timelink">You’ll also learn a lot about how to write comments.</a>
            </p>
            <p>
              <a href="#t=34.35" class="text-body js-video-timelink"><strong>00:34</strong></a>
              <a href="#t=34.35" data-video-timestamp-start="34.35" data-video-timestamp-end="35.1"
                class="text-body js-video-timelink">Along the way,</a> <a href="#t=35.1"
                data-video-timestamp-start="35.1" data-video-timestamp-end="38.4"
                class="text-body js-video-timelink">you’re going to also learn the differences between what is called
                the</a> <a href="#t=38.4" data-video-timestamp-start="38.4" data-video-timestamp-end="41.34"
                class="text-body js-video-timelink">interactive and the script windows inside of IDLE.</a> <a
                href="#t=41.94" data-video-timestamp-start="41.94" data-video-timestamp-end="44.58"
                class="text-body js-video-timelink">You’ll learn about the Read-Evaluate-Print Loop (REPL),</a> <a
                href="#t=45.39" data-video-timestamp-start="45.39" data-video-timestamp-end="48.84"
                class="text-body js-video-timelink">and not only will you be creating scripts, but you’ll also learn how
                to run them.</a>
            </p>
            <p>
              <a href="#t=49.47" class="text-body js-video-timelink"><strong>00:49</strong></a>
              <a href="#t=49.47" data-video-timestamp-start="49.47" data-video-timestamp-end="52.53"
                class="text-body js-video-timelink">You’ll learn about a very important operator called the assignment
                operator.</a> <a href="#t=53.31" data-video-timestamp-start="53.31" data-video-timestamp-end="57.9"
                class="text-body js-video-timelink">What are the rules for creating variable names, and what is
                considered valid or</a> <a href="#t=57.9" data-video-timestamp-start="57.9"
                data-video-timestamp-end="60.09" class="text-body js-video-timelink">invalid? Along with that,</a> <a
                href="#t=60.12" data-video-timestamp-start="60.12" data-video-timestamp-end="63.72"
                class="text-body js-video-timelink">you’ll also learn a few of the standards that are outlined inside of
                PEP 8.</a>
            </p>
            <p>
              <a href="#t=66.01" class="text-body js-video-timelink"><strong>01:06</strong></a>
              <a href="#t=66.01" data-video-timestamp-start="66.01" data-video-timestamp-end="69.04"
                class="text-body js-video-timelink">I’ll take you quickly through the table of contents here before we
                get started.</a> <a href="#t=69.76" data-video-timestamp-start="69.76" data-video-timestamp-end="71.14"
                class="text-body js-video-timelink">This video is the overview.</a> <a href="#t=71.8"
                data-video-timestamp-start="71.8" data-video-timestamp-end="74.65"
                class="text-body js-video-timelink">Then you’re going to dive right into writing your first Python
                script.</a>
            </p>
            <p>
              <a href="#t=75.43" class="text-body js-video-timelink"><strong>01:15</strong></a>
              <a href="#t=75.43" data-video-timestamp-start="75.43" data-video-timestamp-end="77.65"
                class="text-body js-video-timelink">After that you’re going to learn how to make some mistakes,</a> <a
                href="#t=77.86" data-video-timestamp-start="77.86" data-video-timestamp-end="81.85"
                class="text-body js-video-timelink">but also how to get around them. Then you’ll dive into creating
                variables.</a> <a href="#t=82.69" data-video-timestamp-start="82.69" data-video-timestamp-end="83.29"
                class="text-body js-video-timelink">After that,</a> <a href="#t=83.29"
                data-video-timestamp-start="83.29" data-video-timestamp-end="86.89"
                class="text-body js-video-timelink">it’s all about comments and leaving helpful notes for yourself
                inside of your</a> <a href="#t=86.89" data-video-timestamp-start="86.89"
                data-video-timestamp-end="87.723" class="text-body js-video-timelink">code.</a>
            </p>
            <p>
              <a href="#t=87.88" class="text-body js-video-timelink"><strong>01:27</strong></a>
              <a href="#t=87.88" data-video-timestamp-start="87.88" data-video-timestamp-end="91.33"
                class="text-body js-video-timelink">And then I’ll wrap up with you with a summary and include a bunch of
                additional</a> <a href="#t=91.33" data-video-timestamp-start="91.33" data-video-timestamp-end="92.163"
                class="text-body js-video-timelink">resources.</a> <a href="#t=93.46" data-video-timestamp-start="93.46"
                data-video-timestamp-end="97.06" class="text-body js-video-timelink">So it’s time for you to get started
                with writing your first Python script.</a>
            </p>
          </div>
          <div class="tab-pane fade my-3 " id="discussion" role="tabpanel" aria-labelledby="discussion-tab"
            style="min-height: 300px">
            <div class="">
            </div>
            <div class="border rounded bg-light p-3">
              <p class="my-0"><a class="px-4 btn btn-primary btn-sm mr-2" href="/account/join/">Become a Member</a> to
                join the conversation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="col-md-7 col-lg-4 order-2 order-lg-3">
      <h3 class="text-center mt-1 mb-4">Course Contents</h3>
      <div class="d-flex justify-content-between mb-4">
        <a href="" class="btn disabled mr-2" disabled=""><i class="fa fa-fw"></i></a>
        <a href="/courses/python-basics-first-program/" class="btn btn-outline-dark mr-2"><i
            class="fa fa-list fa-fw"></i> Overview</a>
        <a href="/lessons/write-python-script/" class="btn btn-outline-dark "><i
            class="fa fa-chevron-right fa-fw"></i></a>
      </div>
      <div class="mb-4">
        <div ic-src="/api/v1/lessons/first-python-program-overview/playlist/"
          ic-deps="/api/v1/lessons/first-python-program-overview/completion_status/" ic-replace-target="true" ic-id="3">
          <div class="progress mb-4">
            <div class="progress-bar small bg-dark" role="progressbar" style="width: 0%;" aria-valuenow="0"
              aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp;0%&nbsp;&nbsp;</div>
          </div>
          <ul class="list-group list-group-flush">
            <a href="/lessons/first-python-program-overview/" class="text-muted">
              <li class="list-group-item list-group-item-action list-group-item-active rounded bg-light border-0 py-1">
                <div class="row small">
                  <div class="col-1 ml-0">
                    <i class="fa fa-fw fa-play "></i>
                  </div>
                  <div class="col ">
                    Code Your First Python Program (Overview) <span class="text-muted">01:39</span>
                  </div>
                </div>
              </li>
            </a>
            <a href="/lessons/write-python-script/" class="text-muted">
              <li class="list-group-item list-group-item-action list-group-item-active rounded border-0 py-1">
                <div class="row small">
                  <div class="col-1 ml-0">
                    <i class="far fa-circle"></i>
                  </div>
                  <div class="col ">
                    Write a Python Script <span class="text-muted">07:41</span>
                  </div>
                </div>
              </li>
            </a>
            <a href="/lessons/make-mistakes/" class="text-muted">
              <li class="list-group-item list-group-item-action list-group-item-active rounded border-0 py-1">
                <div class="row small">
                  <div class="col-1 ml-0">
                    <i class="fa fa-fw fa-lock"></i>
                  </div>
                  <div class="col ">
                    Make Some Mistakes <span class="text-muted">06:10</span>
                  </div>
                </div>
              </li>
            </a>
            <a href="/lessons/create-inspect-variable/" class="text-muted">
              <li class="list-group-item list-group-item-action list-group-item-active rounded border-0 py-1">
                <div class="row small">
                  <div class="col-1 ml-0">
                    <i class="fa fa-fw fa-lock"></i>
                  </div>
                  <div class="col ">
                    Create and Inspect a Variable <span class="text-muted">12:51</span>
                  </div>
                </div>
              </li>
            </a>
            <a href="/lessons/leave-helpful-comments/" class="text-muted">
              <li class="list-group-item list-group-item-action list-group-item-active rounded border-0 py-1">
                <div class="row small">
                  <div class="col-1 ml-0">
                    <i class="fa fa-fw fa-lock"></i>
                  </div>
                  <div class="col ">
                    Leave Helpful Comments <span class="text-muted">04:06</span>
                  </div>
                </div>
              </li>
            </a>
            <a href="/lessons/first-python-program-summary/" class="text-muted">
              <li class="list-group-item list-group-item-action list-group-item-active rounded border-0 py-1">
                <div class="row small">
                  <div class="col-1 ml-0">
                    <i class="fa fa-fw fa-lock"></i>
                  </div>
                  <div class="col ">
                    Code Your First Python Program (Summary) <span class="text-muted">01:29</span>
                  </div>
                </div>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </aside>
  </div>
  <input name="csrfmiddlewaretoken" type="hidden"
    value="x3sEiO83KjNJb7SDHmlGtJFgncgHcHyK1LVQOkguXZhE4jc3xDM5BXqkwSgsZpvA" id="csrf" ic-global-include="#csrf">
</div>

{{end}}