{{- if ne .Params.footer.enable false -}}
<footer class="footer">
  <div class="container">
    <p class="small text-center text-muted w-75 mx-auto">&copy 2012–{{ now.Year }} {{ .Site.Title}}&nbsp;⋅
      {{ $len := len .Site.Menus.footer }}
      {{ range $i, $e :=  .Site.Menus.footer }}
        {{ if ne (add $i 1) $len }}
        <a href="{{ .URL }}">{{ .Name }}</a>&nbsp;⋅
        {{else}}
        <a href="{{ .URL }}">{{ .Name }}</a>&nbsp;
      {{ end }}
      {{ end }}
      
      <br>❤️ Happy Pythoning!</p> 
  </div>
</footer>
{{end}}

{{/*  <footer class="footer">
  <div class="container">
    <p class="text-center text-muted w-75 mx-auto">© 2012–2021 Real Python&nbsp;⋅
      <a href="https://realpython.com/newsletter/">Newsletter</a>&nbsp;⋅
      <a href="https://realpython.com/podcasts/rpp/">Podcast</a>&nbsp;⋅
      <a href="https://www.youtube.com/realpython">YouTube</a>&nbsp;⋅
      <a href="https://twitter.com/realpython">Twitter</a>&nbsp;⋅
      <a href="https://facebook.com/LearnRealPython">Facebook</a>&nbsp;⋅
      <a href="https://www.instagram.com/realpython/">Instagram</a>&nbsp;⋅
      <a href="https://realpython.com/">Python&nbsp;Tutorials</a>&nbsp;⋅
      <a href="https://realpython.com/search">Search</a>&nbsp;⋅
      <a href="https://realpython.com/privacy-policy/">Privacy Policy</a>&nbsp;⋅
      <a href="https://realpython.com/energy-policy/" class="text-success active">Energy Policy</a>&nbsp;⋅
      <a href="https://realpython.com/sponsorships/">Advertise</a>&nbsp;⋅
      <a href="https://realpython.com/contact/">Contact</a>
      <br>❤️ Happy Pythoning!</p>
  </div>
</footer>  */}}