{{- define "content" -}}

 {{- $posts := .Site.Params.home.posts -}}

 <div class="page home"{{ if ne $posts.enable false }} data-home="posts"{{ end }}>

  {{- /* Posts */ -}}
  {{- if ne $posts.enable false | and .Site.RegularPages -}}
   {{- /* Paginate */ -}}
   {{- $pages := where .Site.RegularPages "Type" "posts" -}}
   {{- if .Site.Params.page.hiddenFromHomePage -}}
    {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
   {{- else -}}
    {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
   {{- end -}}
   {{- with $posts.paginate | default .Site.Params.paginate -}}
    {{- $pages = $.Paginate $pages . -}}
   {{- else -}}
    {{- $pages = .Paginate $pages -}}
   {{- end -}}
   {{- range $pages.Pages -}}
    {{- .Render "summary" -}}
   {{- end -}}
   {{- partial "paginator.html" . -}}
  {{- end -}}
 </div>
{{- end -}}