<div id="author" class="card mt-0 mb-4">
    <p class="card-header h3 text-center bg-light text-uppercase">Recent Posts</p>

    {{- $pages := (where .Site.RegularPages "Section" "posts").ByDate.Reverse -}}
    {{ range first 5 $pages }}

    <div class="card-body" style="margin:-5px -15px -15px">
        <div class="container">
            <div class="textwidget">

                {{- /* Post Cover Image */ -}}
                {{/*  {{ $img := (.Resources.ByType "image").GetMatch "featured-image" }}
                {{ with $img }}
                {{ $imageName := $img.Title }}
                {{ $imageName = $imageName | strings.TrimSuffix (path.Ext $imageName )}}
                {{ partial "tools/img" (dict "img" . "alt" $imageName ) }}
                {{ end }}  */}}


                <a href="{{ .RelPermalink }}" class="small text-muted" style="text-align:justify"><img
                        class="float-left rounded m-1" title="Vincenzo Antedoro" src="{{.RelPermalink}}" srcset="me.jpg 250w,
                    /img/kodra-logo.jpg 450w,
                    /img/kodra-logo.jpg 900w" 
                    sizes="25vw" 
                    alt="Vincenzo Antedoro" width="72" height="72">

                    <strong>{{.Title}}</strong></a>
                <div class="card-text small text-muted w-100">
                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                    <span class="">{{ .PublishDate.Format "January 2, 2006" }}</span>
                </div>
                
            </div>
        </div>
    </div>
    {{end}}
</div>