<!-- LIBRARY JS -->
<script type="text/javascript" src="{{ "lib/jquery/jquery.js" | relURL }}"></script>
<script type="text/javascript" src={{"lib/popper/popper.js" | relURL }}></script>
<script type="text/javascript" src="{{ "lib/bootstrap/js/bootstrap.min.js" | relURL }}"></script> 
<script type="text/javascript" src="{{ "lib/lightbox/js/lightbox.js" | relURL }}"></script>

<script src="{{ "lib/mark.min.js" | relURL }}"></script>
<script src="{{ "lib/flexsearch.bundle.js" | relURL }}"></script>
{{ $searchJS := resources.Get "js/search.js" | resources.ExecuteAsTemplate "js/search.js" . | js.Build }}
<script src="{{ $searchJS.RelPermalink }}"></script>
