{{ define "main" }}

<div class="container main-content">
	<div class="row justify-content-center">
		<div class="col-12">

			{{/*  Featured article  */}}
			{{ partial "featured.html" . }}

			{{/*  {{ partial "components/search.html" . }} In progress */}}

			{{/*  Last Post Widget  */}}
			{{ partial "last-post-widget.html" . }}

			<!-- dashboard -->
			{{ partial "explore.html" . }}

			{{/*  Grid Layout 2x2  */}}
			{{/*  {{ partial "gridview.html" . }}  */}}

			{{/*  Listview Layout */}}
			{{ partial "listview.html" . }}

			{{/*  {{ partial "recentpost.html" . }} In progress  */}}
		</div>
	</div>
</div>
{{ end }}