{{ define "main" }}

{{- $type := .Params.type | default "standard-view" -}}

{{- if eq $type "standard-view" -}}
	{{- if eq .Params.sidebar true -}}
	{{ partial "with-sidebar.html" . }}
	{{else}}
	{{ partial "without-sidebar.html" . }}
	{{- end -}}
{{- else if eq $type "cover-view" -}}
	{{ partial "with-cover.html" . }}
{{- else if eq $type "video" -}}
	{{ partial "video-layout.html" . }}
{{ end }}

{{/*  Disqus  */}}
{{- with .Params.DisqusShortname -}}
<div>
	{{/*  {{ partial "disqus.html" . }}  */}}
</div>
{{ end }}

{{ end }}
