/* CSS Introdotto da me */

.searchBoxContainer {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 10px auto 50px auto;
    display: flex;
}

input.searchBox {
    position: absolute;
    width: 50%;
    padding: 0 35px 0 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    outline: 0;
    font-size: 16px;
    color: #707070;
    background-color: #f6f6f6;
    border: solid 1px #c9c9c9;
    box-sizing: border-box;
}

.searchBox::placeholder {
    color: #c9c9c9;
}

.searchResults {
    display: none;
    max-width: 100%;
    min-width: 300px;
    margin: 0 auto;
    top: 210px;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.searchResultPage {
    margin: 25px auto 40px;
    /* padding: 5px */
}

.searchResultTitle {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
}

.searchResultBody {
    font-size: 18px;
}

mark {
    padding: 0;
    background-color: #eeff00;
}