<div class="card mb-3" id="collapse_card3df395">
 <div class="card-header border-0">
  {{ with .Get "question" }} 
  <p class="m-0"><button class="btn w-100 collapsed" data-toggle="collapse" data-target="#collapse3df395"
    aria-expanded="false" aria-controls="collapse3df395" markdown="1"><span class="float-left"
     markdown="1">{{ . }}</span><span
     class="float-right text-muted">{{ i18n "showHide" }}</span></button></p>
  {{ end }}
 </div>

 <div class="js-collapsible-section collapse" data-parent="#collapse_card3df395" id="collapse3df395" style="">
  <div class="card-body">
   {{ with .Get "answer" }}{{. | markdownify }}{{ end }}
  </div>
 </div>
</div>