{{/*  Example of use:
{{< list-element  title="Title of content"  link="link path [optional]" photo="photo path [optional]"summary="Insert summary here.">}} */}}

<div class="container my-4 border rounded">
 <div class="row my-3">

  <div class="col-xs-12 col-sm-4 col-md-3 align-self-center">
   {{ with .Get "link"}}<a href="{{.}}">{{ end }}
     <img loading="lazy"
     {{ with .Get "photo"}}src="{{.}}"{{ end }}
     class="rounded img-fluid w-100 mb-0" alt="{{( .Get "title")}}" sizes="25vw"></a>
  </div>

  
  <div class="col">
   <div class="mt-3 d-md-none"></div>
   <p class="small text-muted mb-0"><strong>{{ i18n "topic" }}</strong></p>     
    {{ with .Get "link"}}<a href="{{.}}" class="stretched-link">{{ end }}
    <h2 class="m-0 h3">{{( .Get "title" )}}</h2>
   </a>
   <p class="m-0 text-muted small">{{( .Get "summary" )}}</p>
  </div>
 </div>
</div>